
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shose Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">*@
    <link rel="stylesheet" href="~/Content/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="~/Content/css/aos.css">

    <link rel="stylesheet" href="~/Content/css/style.css">

</head>
<body>
    <div class="site-wrap">
        @{
            var headerPartialView = Html.Partial("_Header");
            headerPartialView = new MvcHtmlString(headerPartialView.ToString());
            var footerPartialView = Html.Partial("_Footer");
            footerPartialView = new MvcHtmlString(footerPartialView.ToString());
        }
        <!--Header-->
        @headerPartialView

        <!--Body-->
        @RenderBody()

        <!--Footer-->
        @footerPartialView
    </div>

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/aos.js"></script>

    <script src="~/Content/js/main.js"></script>

</body>
</html>